
  THE_SERVER="rm231d-os15_Robins-Mac-mini (10.0.0.37)"
  THE_PC_MODEL="Apple Mac Mini (2022)"
  THE_PC_NAME="rm231d"
  THE_OS="Sonoma v15.2"
  THE_CPU="Apple M1"
  THE_GPU="Apple M1"
  THE_RAM="8 GB"
